* {
    margin:0;
    padding:0;
    border:0;
    font-family:'Microsoft YaHei UI','Microsoft YaHei';
}

body {

}

#scontainer {
    width:auto;
    height:auto;
}

#sheader {
    width:1349px;
    height:100px;
    background-color:rgb(34, 34, 34);
}

#sheader .slogo {
    float:left;
    font-family:Elephant,'MS Outlook','Microsoft Himalaya' ,'Microsoft YaHei UI','Microsoft YaHei';
    width:100px;
    height:100px;
    margin:0px 20px 0 120px;
    padding:10px 10px;
}

#sheader .slogo a,#sheader .slogo a:hover, #sheader .slogo a:active,#sheader .slogo a:visited,#sheader .slogo a:focus{
        text-decoration:none;
        color:rgb(220, 220, 220);
    }

#sheader .snav{
    float:left;
    width:600px;
    height:inherit;
}

    #sheader .snav ul {
        margin:40px 30px;
        height:20px;
    }

    #sheader .snav li {
        list-style-type:none;
        display:inline;
    }

    /*#header .nav a {
        
    }*/

    #sheader .snav a:link, #sheader .snav a:visited {
        text-decoration:none;
        padding:40px 35px 40px 35px;
        background-color:rgb(34, 34, 34);
        color:rgb(220, 220, 220);
    }

    #sheader .snav a:hover, #sheader .snav a:active {
        background-color:black;
        color:white;
    }

    #sheader .ssearch {
        float:left;
        width:270px;
        height:100px;
        padding:35px 35px 0 35px;
    }

    #sheader .slogin {
        float:right;
        width:150px;
        height:100px;
        padding:35px 50px 0 50px;
    }

    #sheader .slogin a:link,#sheader .slogin a:visited{
        text-decoration:none;
        border:solid 1px;
        padding:6px 15px;
        border-radius:10px/10px;
        color:rgb(210, 210, 210);
    }
    #sheader .slogin a:hover {
        text-decoration:underline;
    }

    #sheader .slogin a:active {
        background-color:rgb(124, 124, 124);
    }

#smain {
    margin:0 auto;
    width:1100px;
    height:900px;
}

#sfooter {
    width:100%;
    height:100px;
    background-color:lightgray;
}